@font-face {
  font-family: "Pressura-Medium";
  src: local("Pressura"),
    url("/Fonts/GT-Pressura-Mono-Medium-Trial.otf") format("truetype");
}

@font-face {
  font-family: "Pressura-Regular";
  src: local("Pressura"),
    url("/Fonts/GT-Pressura-Mono-Regular-Trial.otf") format("truetype");
}

html {
  padding: 0;
  margin: 0;
}

input::placeholder {
  color: black;
  opacity: 0.9;
}
